body {
    font-family: 'Red Rose', cursive;
    background-image: url("../background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
    justify-content: space-around;
}

#team1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: rgb(15, 105, 35);
    width: 200px;
}

#team2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgb(105, 15, 35);
    width: 200px;
}

img {
    border: 2px solid black;
    border-radius: 2.5%;
}
